@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color: #BBBBBB;
  background: #000000;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #FFFFFF;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #888888;
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #FFFFFF;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #BBBBBB;
}

small {
  font-size: 0.8rem;
  font-weight: 500;
}

.winner {
  color: #00FF44;
}

.grid { 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1.2rem; 
  flex-wrap: wrap; 
}

.score { 
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: 1px solid slategray;
  border-radius: 4px;
  color: slategray;
}